<!-- Footer -->
<footer class="page-footer font-small teal pt-4 bg text-white">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold ml-5"> NG Corporation</h5>
        <p class="ml-5">Email: ContatoNicolleGianinni@hotmail.com</p>
        <p class="ml-5">Recife-PE</p>

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <ul class="social-network">
        <li>
          <a href="#" target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </li>

        <li>
          <a href="https://github.com/nicollegianinni" target="_blank"> <i class="fa fa-github-square"
              aria-hidden="true"></i></a>
        </li>


        <li>
          <a href="https://www.linkedin.com/in/nicollegianinni/" target="_blank"> <i class="fa fa-linkedin-square"
              aria-hidden="true"></i></a>
        </li>

      </ul>
    </div>
    
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    
    © 2022 Copyright: NG corportaion
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->