<div class="contener-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-6 fundo-bg">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <h1 class=" text-center mt-3 ">CADASTRO</h1>

                    <hr>
                    <div class="form-group">
                        <label for="usuario">Nome</label>
                        <input [(ngModel)]="user.nome" class="form-control" type="text" name="nome" id="nome"
                            placeholder="Digite seu nome">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input [(ngModel)]="user.usuario" class="form-control" type="text" name="usuario"
                            id="usuario" placeholder="Digite seu email">
                    </div>

                    <div class="form-group">
                        <label for="foto">Link da Foto</label>
                        <input [(ngModel)]="user.foto" class="form-control" type="text" name="foto" id="foto"
                            placeholder="Cole o link da sua foto">
                    </div>


                    <div class="form-group">
                        <label for="foto">Senha</label>
                        <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha"
                            id="senha" placeholder="Digite uma senha de 8 digitos">
                    </div>

                    <div class="form-group mb-4">
                        <label for="foto">Confirmar senha</label>
                        <input [(ngModel)]="user.senha" class="form-control" type="password" name="confirmSenha"
                            id="confirmSenha" placeholder="Confirme sua senha">

                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo Usuario</label>
                        <select class="form-control" type="password" name="tipo" id="tipo" (change)="tipoUser($event)">
                            <option>Selecione um tipo de usuario:</option>
                            <option value="normal">Normal</option>
                            <option value="ADM">Administrador</option>
                        </select>
                    </div>

                    <hr class="mb-1">

                    <div class="d-flex justify-content-center">

                        <button type="submit" class="btn btn-outline-danger mr-4 mt-4"
                            routerLink="/entrar">CANCELAR</button>
                        <button type="submit" class="btn btn-outline-success  mt-4"
                            (click)="cadastrar()" >CADASTRAR</button>


                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6" id="img-bg"></div>

    </div>




</div>