<div class="contener-fluid">

    <div class="row d-flex align-items-center ">

        <div class="col-md-6 fundo-bg">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <h1 class="text-center mt-5 mb-3">ENTRAR</h1>
                    <hr class="mt-5 mb-5">
                    <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input class="form-control" type="text" name="usuario" id="usuario"
                            placeholder="Digite seu usuario">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha"
                            placeholder="Digite sua senha">
                    </div>

                    <div class="d-flex justify-content-center">

                        <button type="submit" class="btn btn-outline-success mt-4 ">ENTRAR</button>

                    </div>
                    <hr class="mt-4 mb-4">
                    <div class="d-flex justify-content-center mb-3">
                        <p>Não tem uma conta ? <a href="#"> CADASTRE-SE!</a></p>
                    </div>

                </div>


            </div>

        </div>

        <div class="col-md-6" id="img-bg"></div>


    </div>
</div>